#signature
    margin-left auto
    margin-right auto
    canvas
        width 90%
        display block
        height 90vw
        background white

.img-container
    background white
    width 100%
    margin-top 20px
    img
        width 100%
        height calc(100vw - 30px)