<main class='game container'>
    <div v-if="currentTask != null && gameMode">
        <div class='speak-up'>
            <div v-if="currentTask.type == 'drawing'" class='bubble bubble-dark'>
                Draw This 🎨</div>
            <div v-if="currentTask.type == 'start'" class='bubble bubble-dark'>
                Write Any Phrase ✏️</div>
            <div v-if="currentTask.type == 'caption'" class='bubble bubble-dark'>
                Caption This 💬</div>
        </div>
        <template v-if="currentTask.type == 'drawing'">
            <h3>
                {{ currentTask.prompt }}
            </h3>
            <div class="header-tools">
                <button class='brush-item'
                        v-on:click="setBrush(brush)"
                        v-bind:class="{ active: (activeBrush == brush)}"
                        v-for="brush in brushes">
                        <span class='brush-dot' v-bind:style="{ width: brush.display, height: brush.display }">
                    </span>
                </button>
                <button class="undo" v-on:click="undo">
                    Undo
                </button>
            </div>
            <VueSignaturePad id="signature" 
                    height="90vw"
                    width="100%"
                    :onEnd="onEnd"
                    :options="options"
                    ref="signaturePad">
            </VueSignaturePad>
            <div class='palette-container'>
                <button class='palette-item'
                    v-on:click="setColor(color)"
                    v-bind:class="{ active: activeColor == color }"
                    v-bind:style="{ background: color }"
                    v-for="color in colors">
                </button>
            </div>
        </template>
        <template v-else>
            <input v-model="caption">
            <div class='img-container' v-if="currentTask.type == 'caption'">
                <img v-bind:src="idToImage(currentTask.prompt)">
            </div>
        </template>
        <button class='btn btn-primary' v-on:click="submit()">
            Submit
        </button>
    </div>
    <div class='limbo' v-if="currentTask == null || !gameMode">
        <h3>You're in limbo! Hang out while you wait for another task.</h3>
        <div v-if="chatDrawing">
            <VueSignaturePad id="signature2" height="90vw" width="100%" ref="chatPad">
            </VueSignaturePad>
            <button id="sendButton" class='btn btn-primary'
                v-on:click="sendChat()">Send</button>
            <button id="cancelChatButton" class='btn btn-secondary'
                v-on:click="cancelChat()">Back</button>
        </div>
        <div v-show="!chatDrawing">
            <button v-if="currentTask != null"
                    class='btn btn-primary' 
                    v-on:click="startNext()"> Next Task</button>
            <button id="startChatButton" class='btn btn-secondary' 
                v-on:click="addChat()">Chat</button>
            <div class="chatList">
                <div v-for="chat in myChats">
                    <p>{{ authorName(chat.player) }}:</p>
                    <div class='bubble'>
                        <img v-bind:src="idToImage(chat.drawing)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>