<main class='game container'>
    <template v-if="currentTask != null">
        <template  v-if="currentTask.type == 'drawing'">
            <h1>Draw This</h1>
            <h3>
                {{ currentTask.prompt }}
            </h3>
            <VueSignaturePad id="signature" 
                    height="90vw"
                    width="90%"
                    ref="signaturePad">
            </VueSignaturePad>
        </template>
        <template v-else>
            <h1 v-if="currentTask.type == 'start'">Write Any Phrase</h1>
            <h1 v-if="currentTask.type == 'caption'">Caption This</h1>
            <input v-model="caption">
            <img v-bind:src="currentTask.prompt">
        </template>
        <button class='btn btn-primary' v-on:click="submit()">
            Submit
        </button>
    </template>
    <template v-if="currentTask == null">
        <h3>You're in limbo! Hang out while you wait for another task.</h3>
    </template>
</main>