<main class='game container'>
    <template v-if="currentTask != null">
        <template  v-if="currentTask.type == 'drawing'">
            <h1>Draw This</h1>
            <h3>
                {{ currentTask.prompt }}
            </h3>
            <div class="header-tools">
                <button class='brush-item'
                        v-on:click="setBrush(brush)"
                        v-for="brush in brushes">
                        <span class='brush-dot' v-bind:style="{ width: brush.display, height: brush.display }">
                        </span>
                </button>
            </div>
            <VueSignaturePad id="signature" 
                    height="90vw"
                    width="100%"
                    ref="signaturePad">
            </VueSignaturePad>
            <div class='palette-container'>
                <button class='palette-item'
                    v-on:click="setColor(color)"
                    v-bind:style="{ background: color }"
                    v-for="color in colors">
                </button>
            </div>
        </template>
        <template v-else>
            <h1 v-if="currentTask.type == 'start'">Write Any Phrase</h1>
            <h1 v-if="currentTask.type == 'caption'">Caption This</h1>
            <input v-model="caption">
            <div class='img-container' v-if="currentTask.type == 'caption'">
                <img v-bind:src="taskImage(currentTask)">
            </div>
        </template>
        <button class='btn btn-primary' v-on:click="submit()">
            Submit
        </button>
    </template>
    <template v-if="currentTask == null">
        <h3>You're in limbo! Hang out while you wait for another task.</h3>
    </template>
</main>