.about
    h1
        font-size 48px
    p
        font-size 16px
        text-align left
    .demo
        font-size 16px
        > div
            margin-bottom 20px
        .bubble
            padding 5px 15px
            border-radius 7px
            position relative
            display inline-block
            &:after
                content ' '
                width 12px
                height 12px
                display inline-block
                position absolute
                left calc(100% - 6px)
                top calc(50% - 6px)
                transform rotate(45deg)
                background white
        .computer .bubble
            background #2d2828
            color white
            margin-right 10px
            &:after
                background #2d2828
        .player .bubble
            background white
            margin-left 10px
            color black
            &:after
                left calc(0% - 6px)
        .computer
            text-align right