<main class='about container'>
    <h2>
        How does the game work?
    </h2>
    <p>
        Players take turns writing phrases and then drawing them. At the end you get to see how much your phrase has changed.
    </p>
    <p>
        This is what it's like:
    </p>
    <div class='demo'>
        <div class='speak-right'>
            <div class='bubble bubble-dark'>
                Write any phrase
            </div>
            📱
        </div>
        <div class='speak-left'>
            😺
            <div class='bubble'>
                "Humpty Dumpty at the beach"
            </div>
        </div>
        <div class='speak-right'>
            <div class='bubble bubble-dark'>
                Draw "Humpty Dumpty at the beach"
            </div>
            📱
        </div>
        <div class='speak-left'>
            🧚
            <div class='bubble'>
                <img src="./humpty.jpg">
            </div>
        </div>
        <div class='speak-right'>
            <div class='bubble bubble-dark'>
                Caption this drawing ^^
            </div>
            📱
        </div>
        <div class='speak-left'>
            👽
            <div class='bubble'>
                "Giant egg can't swim"
            </div>
        </div>
        <div class='speak-right'>
            <div class='bubble bubble-dark'>
                Draw "Giant egg can't swim"
            </div>
            📱
        </div>
    </div>
    <h2>How do we start?</h2>
    <p>
        If you're hosting a game, click the "New Game" button and send other people your game code.
    </p>
    <p>        
        If your friend has already created a game, just enter the game code in the "Join Game" menu.
    </p>
    <h2>Like the game?</h2>
    <p>
        Send a quick hello to <a href="https://www.johnventions.com/">John Horton</a>
    </p>
    <router-link to="/" class="mt-3 btn btn-primary col-12 col-md-3">
        Back
    </router-link>
</main>