<main class='container'>
    <h1>You Did It!</h1>
    <select v-model="activeStory" v-on:change="updateStory(activeStory)">
        <option disabled selected v-bind:value="null">Select a story</option>
        <option v-for="story in stories" v-bind:value="story.author">{{ story.contentString }}</option>
    </select>
    <div v-for="task in activeTasks">
        <div class='img-container' v-if="task.type == 'drawing'"></template>
            <img v-bind:src="drawingURL(task._id)">
        </div>
        <template v-else>
            <h3>
                {{ task.contentString }}
            </h3>
        </template>
        <h5>
            By: {{ authorName(task.author) }}
        </h5>
    </div>
</main>