input
    padding 5px 10px
    text-align center
body
    background linear-gradient(170deg, #3224af, #b149c4)
    min-height 100vh
    color white
    font-family 'Cabin', sans-serif
    font-size 24px
    

.btn

p + button
    margin-top 15px

main
    padding-top 20px

.btn
    margin 22px auto 15px
    padding 12px 10px
    font-size 24px
    width 90%
    border 2px solid white
    background #7ed321
    text-align center
    border-radius 6px
    text-transform uppercase
    display block
    @media $tablet-up
        width auto

    &.btn-primary
        &:disabled
            background grey
            border-color white

h1, h2, h3, h4, h5, h6, p
    text-align center

h1
    font-family 'Amatic SC', sans-serif
    font-size 68px
    color white
    font-weight 700
    
.img-container
    background white
    width 100%
    margin-top 20px
    img
        width 100%
        height calc(100vw - 30px)